<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.Office" version="4.3.1" targetFramework="net45" />
  <package id="GemBox.Presentation" version="21.3.35.1053" targetFramework="net45" />
  <package id="GemBox.Spreadsheet" version="43.0.0.1106" targetFramework="net45" />
  <package id="sautinsoft.pdffocus" version="6.9.7.6" targetFramework="net45" />
</packages>